.md-typeset h1 {
    font-weight: bold;
    font-size: 1.25rem;
}

.md-typeset h2 {
    font-weight: bold;
    font-size: 1.1rem;
}

#rcorners {
    border-radius: 10px;
    display: table-cell;
    height: 22px;
    vertical-align: middle;
}